// ----------------------------------------------------------------------------
// Widget-ohcost styles
// ----------------------------------------------------------------------------
.widget-ohcost {

  .title {
    color: #fff;
  }

  .value {
  	color: #00aa22;
    display: inline-block;
    vertical-align: middle;
    font-size: 300%;
  }

}
