// ----------------------------------------------------------------------------
// Widget-Ohheating styles
// ----------------------------------------------------------------------------
.widget-ohheating {
  .title {
    color: #fff;
  }
  .current-cool {
  	color: #00aaff;
    display: inline-block;
    vertical-align: middle;
    font-size: 350%;
  }
  .current-heat {
  	color: #eb0033;
    display: inline-block;
    vertical-align: middle;
    font-size: 350%;
  }
  .current-off {
  	color: #bbbbbb;
    display: inline-block;
    vertical-align: middle;
    font-size: 350%;
  }

  .heating-opheat {
  	color: #fff;
  	background: #590000;
    //display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 150%;
  }
  .heating-opoff {
  	color: #fff;
  	background: #aaa;
    //display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 150%;
  }
  .heating-opcool {
  	color: #000;
  	background: #00aaff;
    //display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 150%;
  }

  .unit_temperature {
    color: #fff;
    font-size: 120%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }
  .unit_target {
    color: #00aaff;
    font-size: 120%;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 5px;
  }
}
